# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Virtual environments
venv/
evnv/
env/
.env
.venv/

# Distribution / packaging
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db